In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_theme()

In [6]:
data = pd.read_csv('properties.csv')
data

    PropertyID     Location  Size_sqft  SalePrice
0         2001       Suburb       2996     355372
1         2002     Downtown       2887     505830
2         2003       Suburb        957     338789
3         2004  Countryside       1814     419335
4         2005       Suburb        850     357301
..         ...          ...        ...        ...
95        2096  Countryside       2005     271942
96        2097       Suburb       2686     551317
97        2098  Countryside       1889     530264
98        2099     Downtown       1453     502089
99        2100  Countryside       2050     562155

[100 rows x 4 columns]