# For Loops

In [1]:
even = [0,2,4,6,8,10,12,14,16,18,20]

In [2]:
for n in even:
    #print(n) # Print on separeted lines
    print(n, end = " ") # Print on the same line

0 2 4 6 8 10 12 14 16 18 20

 # While Loops and Increments

In [4]:
x = 0
while x <= 20:
    print(x, end = " ")
    x += 2 # Incrementing

0 2 4 6 8 10 12 14 16 18 20

In [11]:
x = 1
while x <= 30:
    print(x, end = " ")
    x += 2

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29

# Lists with the range() Function

In [13]:
for n in range(0, 20, 2):
    print(n, end = " ")

0 2 4 6 8 10 12 14 16 18

In [14]:
range(10)

range(0, 10)

In [15]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
range(0, 10)

range(0, 10)

# Conditional Statements and Loops

In [17]:
for n in range(10):
    print(2 ** n, end = " ")

1 2 4 8 16 32 64 128 256 512

In [20]:
for x in range(20):
    if x % 2 == 0:
        print(x, end = " ")
    else:
        print("Odd", end = " ")

0 Odd 2 Odd 4 Odd 6 Odd 8 Odd 10 Odd 12 Odd 14 Odd 16 Odd 18 Odd

In [21]:
x = [0,1,2]

In [22]:
for item in x:
    print(item, end = " ")

0 1 2

In [23]:
for item in range(len(x)):
    print(x[item], end = " ")

0 1 2

In [27]:

for n in list(range(1, 11)):
    print(n * 2)

2
4
6
8
10
12
14
16
18
20

In [28]:
for n in range(1, 31):
    if n % 2 == 0:
        print("Even", end = " ")
    else:
        print(n, end = " ")

1 Even 3 Even 5 Even 7 Even 9 Even 11 Even 13 Even 15 Even 17 Even 19 Even 21 Even 23 Even 25 Even 27 Even 29 Even

In [31]:
n = [1,2,3,4,5,6]

for x in range(len(n)):
    print(n[x] * 10, end = " ")
    
print("\n")

for x in list(n):
    print(x * 10, end = " ")

10 20 30 40 50 60

10 20 30 40 50 60

# All in

In [25]:
 def count(numbers):
        total = 0 # a rolling sum
        for x in numbers:
            if x < 20:
                #if x % 2 == 0:
                print(x, end = " ")
                total += 1
        return total

In [26]:
numbers = [2,5,7,20,18,30,43,50]
count(numbers)

2 5 7 18

4

# Iterating over Dictionaries

In [33]:
prices = {
    "box_of_spaghetti": 4,
    "lasagna": 5,
    "hamburger": 2
}
quantity = {
    "box_of_spaghetti": 6,
    "lasagna": 10,
    "hamburger": 0
    
}

In [35]:
prices['box_of_spaghetti'] * quantity['box_of_spaghetti']

24

In [54]:
total_spent = 0
# item = [prices]
for x in prices:
    total_spent += prices[x] * quantity[x]
print(total_spent)

74

In [58]:
for x in prices:
    print(prices[x])

4
5
2

In [61]:
total_spent = 0
for x in prices:
    if prices[x] >= 5:
        total_spent += prices[x] * quantity[x]
print(total_spent)

50